        #heading
        {
            font-size:200%;
            font-family: 'Courier Prime', monospace;

            margin-left:20px;
            opacity:0;

        }
        #animationlogo
        {
            opacity:0;
        }
        ul
        {
            font-size:130%;
            font-weight:bold;
            font-family: 'Open Sans', sans-serif;
            margin:0 auto;


        }
        .ss1
        {
            color:black;


        }
        #dropdownmenustyle
        {
            background-color:#D0D3D4  ;
            border-radius:20px;
            padding:5px;
            font-family: 'Open Sans', sans-serif;
            font-weight:bold;
        }


        #searchstyle
        {
            background-color:#D0D3D4  ;
             border-radius:20px;
        }
        #searchbuttonstyle
        {
            border-radius:20px;
        }
        #dp1
        {
            background-color:#D0D3D4;
            border-radius:20px;
            margin:0 auto;
        }
        #dp2
        {
            background-color:#D0D3D4;
        }
        #dp3
        {
            background-color:#D0D3D4;
        }
        #dp1:hover
        {
            background-color:#ECF0F1  ;
            border-radius:20px;

        }
        #dp2:hover
        {
            background-color:#ECF0F1  ;
            border-radius:20px;

        }
        #dp3:hover
        {
            background-color:#ECF0F1 ;
            border-radius:20px;

        }
       .boldd
       {

            font-family: 'Open Sans', sans-serif;
            font-weight:bold;
            font-size:105%;
       }



        .title
        {


            margin:auto;
            opacity:1;


        }
        .zoom
        {

            width:300px;
             text-align:center;
             margin:auto;
             opacity:0;
        }


        .jumbotron
      {
        background-image:url("cover1.jpg") ;
        background-size:cover;
        height:450px;

      }
       .block
        {
            width:auto;
            height:300px;

        }
        .thebackground
        {
            width:auto;
            height:auto;
            background-color:#F4F6F6;
        }
        .secondcardpart
        {
            height:52px;
            width:auto;
            background-color:white;
            position:relative;
            top:12px;
            display:none;
        }
        .secondcardpartheading
        {

            text-align:center;
        }
        .secondcardparttitle
        {
            font-size:200%;
            color:grey;
        }

      @media(max-width:1000px)
      {
        .jumbotron
        {
            height:370px;
        }
        .block
        {
             margin-top:-70px;
        }

      }
       @media(max-width:770px)
      {
        .jumbotron
        {
            height:320px;
        }
        .block
        {
            margin-top:-120px;
        }
      }
       p
        {
             background:rgba(0,0,0,0);
            color:#F7F9F9 ;
            font-weight:bold;
        }
        #para
        {
            color:yellow;
             font-family:helvetica;
             float:right;
        }









          .my-col
        {

            height:250px;


        }
        .my-row
        {

            padding:5px;

        }
        .my-container
        {

        }
        .within1
        {
        display:inline;
        opacity:80%;
        font-size:120%;
         position:relative;
        top:4px;

       padding:5px;
       text-align:center;
        font-family: 'Poppins', sans-serif;

         opacity:0;


        }
        .within2
        {

            font-family: 'Poppins', sans-serif;

            margin-left:130px;
            position:relative;
            top:16px;
            font-weight:bold;


        }
        .within3
        {
        font-family: 'Poppins', sans-serif;

            margin-left:130px;
            position:relative;
            top:20px;

        }

        .cardimage
        {
           width:100px;
           height:100px;
           display:block;
           margin-top:40px;
           margin-left:10px;
           border-radius:10px;
           opacity:0;



        }
        .cards
        {
            width:320px;
           height:150px;
           display:block;
           margin-top:-120px;


            box-shadow:1px 1px 5px #CACFD2  ;
            border-radius:7px;
            opacity:0;


        }
        #nounderline
        {
            color:black;
        }
        @media(max-width:1198px)
        {
        .cards
        {
            width:270px;
        }
        }
        @media(max-width:992px)
        {
            .cards
            {
                width:650px;
            }
             .nounderline
           {
                color:black;
                text-decoration:none;
           }
        }

        @media(max-width:768px)
        {
            .my-col
            {
                height:200px;
            }
            .cardimage
            {
                margin-top:20px;
            }
            .cards
            {
                width:490px;
                height:140px;
                position:relative;
                top:6px;
            }
             #searchbuttonstyle
            {
                position:relative;
                left:-2px;
                top:0px;

            }
        }
        @media(max-width:550px)
        {
            .myrow
            {
                height:640px;
            }
            .my-col
            {
               height:180px;
               width:100%;
               margin:0 auto;
            }
            .within1
            {
                font-size:100%;
            }
            .cardimage
            {
                margin-top:10px;
                width:80px;
                 height:80px;
                 position:relative;
                 top:10px;

            }
            .cards
            {
                width:314px;
                height:120px;
                position:relative;
                top:33px;

            }
            .within2
            {
                font-size:90%;
                margin-left:100px;
            }
            .within3
            {
                height:47px;
                font-size:80%;
                margin-left:100px;


            }
        }
        @media(max-width:414px)
        {
            .cards
           {
                width:101%;
           }
           .icon
           {
            height:26px;
            width:25px;
            position:relative;
            top:-5px;
            left:2px;


           }
           #nounderline
           {
               text-decoration:none;
           }


        }






        .cards2-columntwo
        {

            padding:25px;
        }

        .cards2two
        {
            display:flex;
            flex-direction:column;
              box-shadow:4px 4px 28px #CACFD2  ;
             border-radius:3px;
             border:0.5px solid #D5DBDB ;


        }
        .cards2-within1two
        {
            display:flex;
            height:40px;
            background-color:#E74C3C;
             font-family: 'Arimo', sans-serif;
        }
        .cards2-headingtwo
        {

            height:24px;
            font-size:150%;
            position:relative;
            top:2px;
            color:white;
        }

        .card2-imagetwo
        {
            height:155px;

            display:flex;
        }
        .cards2-within2two
        {
            display:flex;

             padding:10px;
            margin:0px;
            font-size:130%;
             font-weight:bold;
             font-family: 'Raleway', sans-serif;
             text-align:center;
        }
        .cards2-within3two
        {
            display:flex;
            font-weight:bold;
            text-align:center;
            padding:1px;
            font-family: 'Raleway', sans-serif;
            opacity:85%;

        }
        .tagstwo
        {
            display:flex;
            height:40px;

            padding:5px;
            justify-content:space-between;
            margin:10px;

        }
        .tagstwo div
        {

            text-align:center;
            width:30%;
              border-radius:15px;
             border:0.5px solid  #CACFD2;
             font-family: 'Raleway', sans-serif;
        }
        .tagtwo:hover
        {
                background-color:red;

        }

        span
        {
            vertical-align:middle;

        }

        @media(max-width:769px)
        {
            .card2-imagetwo
            {
                height:220px;

            }

            .cards2two div
            {


            }
            .cards2-within2two
            {

                padding:14px;


            }
            .cards2-within3two
            {
                padding:15px;
            }
             .tagstwo
            {

                padding:5px;
                margin:25px;

            }
            .tagtwo{

            height:35px;



            }


        }
        @media(max-width:414px)
        {
            .card2-imagetwo
            {
                height:155px;
            }
              .cards2-within2two
            {
                padding:10px;
            }
            .cards2-within3two
            {
                padding:1px;
            }
             .tagstwo
            {
                height:43px;
                padding:5px;
            }
            .tagstwo
            {

                margin:10px;
            }


        }
         .loadingdiv{
        width:auto;
        height:80px;
        background-color:white;
        text-align:center;
        }